.main:hover .window{
    height:100%;
    
}
.window{
    background-color: black;
    opacity: 50%;
    transition: 2s all;
    top:100%;
}

.input:focus label{
    transform: translateY(-20px);
   
}

.shadow{
    position:relative;
}

.shadow::after{
    content:'';
    position:absolute;
    top:100%;
    left:100%;
    width:100px;
    height:100px;
    background-color: blue;
    
}

/* .wrapper{
    display: inline-block;
    
} */
/* .wrapper p{
    /* background-color: aqua; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    animation:typing1 8s infinite  ;
    letter-spacing: 3px;
    
} */
 span::after{
    content:"";
    animation:typing 4s infinite;
 }

@keyframes typing{
    0%{
        content:"";
    }
    3%{
        content:"D |";
    }
    6%{
        content:"De |";
    }
    9%{
        content:"Des |"
    }
    12%{
        content:"Desi |"
    }
    15%{
        content:"Desig |"
    }
    18%{
        content:"Design |"
    }
    21%{
        content:"Designe  |"
    }
    25%{
        content:"Designer |"
    }
    28%{
        content:"Designe |"
    }
    31%{
        content:"Design |"
    }
    34%{
        content:"Desig |"
    }
    38%{
        content:"Desi |"
    }
    41%{
        content:"Des |"
    }
    44%{
        content:"De |"
    }
    47%{
        content:"D |"
    }
    50%{
        content:""
    }
    53%{
        content:"D |";
    }
    56%{
        content:"De |";
    }
    59%{
        content:"Dev |"
       }
    62%{
        content:"Deve |"
    }
    65%{
        content:"Devel |"
    }
    68%{
        content:"Develo |"
    }
    71%{
        content:"Develop  |"
    }
    75%{
        content:"Develope |"
    }
    78%{
        content:"Developer |"
    }
    81%{
        content:"Develope |"
    }
    84%{
        content:"Develop |"
    }
    86%{
        content:"Develo |";
    }
    98%{
        content:"Devel |"
        }
    91%{
        content:"Deve |"
    }
    94%{
        content:"De|"
    }
    97%{
        content:"D|"
    }
    100%{
        content:""
    }

}
@keyframes typing1 {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

@keyframes cursor{
    from{
        border-color:transparent;
    }
    to{
        border-color:black;
    }
}