/* global-variables */
:root{
    --h2-font: 40px;
    --main-color: #FF305B;
    --footer-color: #555555;
    --h2-color: #333333;
    --p-color: #555;
    --link-color: #333;
    
    --input-color: #ccc;
}
*{
    padding:0;
    box-sizing:border-box;
}
.b-c-blue{
    border-color:blue;
}
.b-c-main{
    border-color:var(--main-color);
}
.b-c-input{
    border-color:var(--input-color)
}
body{
    margin:0;
    padding:0px;
    
}
.icon{
    position:relative;
}
.icon:hover{
    transform: scale(1.2);
    color:var(--main-color)
    /* background-color:var(--main-color); */
    /* color:var(--main-color); */
}
.icon::after{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    background-color:#FF305B;
    border-radius:50%;
    display:none;
}
.hero{
    background-image: url('./images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.underlined{
    position:relative;
}
.underlined::after{
    content:'';
    width:180px;
    height:2px;
    background-color:var(--main-color);
    position: absolute;
    left:50%;
    top:140%;
    transform: translate(-50%,-50%);
}
.underlined::before{
    content:'';
    width:80px;
    height:15px;
    
    position: absolute;
    left:50%;
    top:140%;
    transform: translate(-50%,-50%);
    border-top:solid var(--main-color) 2px;
    border-bottom:solid var(--main-color) 2px;
}
.feedback-portal{
    position:relative;
    z-index:-1;
}
.feedback-portal::before{
    content:'';
    width:0px;
    height:0px;
    position:absolute;
    left:10%;
    top:0%;
    z-index:0;
    border-top: 5em solid var(--main-color);
    border-bottom:5em solid transparent;
    border-left:5em solid var(--main-color);
    border-right:5em solid transparent;
}

.font-h2{
    font-size:var(--h2-font);
}
.color-main{
    color:var(--main-color)
}
.bg-c-main{
    background-color: var(--main-color);
}
.bg-c-footer{
    background-color: var(--footer-color);
}
.bg-c-black{
    background-color: black;
}
.h2-color{
    color:var(--h2-color)
}
 


.font-main{
    color:var(--main-color);
}
.font-link{
    color:var(--link-color)
}
.font-input-color{
    color:var(--input-color);
}
.prefix{
    position:relative;
    padding-left:15px;
}
.prefix::before{
    content:'';
    width:10px;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    
    background-color: #FF305B;

}

.hero{
    background-image: url("../images/hero.jpeg");
    height:100vh;
    background-position: center;
    background-size: cover;
    
}

.tab:hover{
    color:#FE305B;
}

.card:hover{
    background-color: white;
}


.content-1{
    transform: translate(-50%,-50%);
}



/* .tab:hover{
    background-color: var(--main-color);
} */


/* .img1 img{
    transform: translate(7%,10%);
} */

.left img{
    min-width: 80px;
}

.w-full-2,.w-full-3,.w-full-4{
    width:100%;
}

.transparent-layer{
    background-color:rgba(0,0,0,0.5);
}

.hidden{
    visibility: hidden;
}

.transparent-layer:hover{
    opacity:1;
}

.hello img:hover{
    
}

.container:hover div{
    top:0%;
}